<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0438F8EF7B397320DE8BD778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047000954A9B159B37A3E27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB6A6D153C845DE7FA5A748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19A2166CB485B26511A0C67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23AFAE7F56309800283D8B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE55C393B169E62396B74E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37688A787746A47A418DBC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3791CA2815533AFC53CC9FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E78F4758FC5ECC9CF7091E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F262DE6088838B66E557F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F36F6A37EAFFFCAE4991E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E5D16B1A7FD22AE64B288B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E298DB1C6272FC012A06E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720EE1BED31E5CBBF556DA44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F804A649E842CF2B96A62E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961738F10CAC373E7B1DEF44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3FDF742F73DAF29D94E7572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B46B7B10E69747EAD2B8CC32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C540C6A479F514F7481271A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E55BA66277616FC5F0456FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E70CF630A63B3C885AB1EE60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
